@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Disket Mono';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/Disket-Mono-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Disket Mono';
    font-weight: bold;
    font-style: normal;
    src: url('/fonts/Disket-Mono-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Avenir Next';
    src: url('/fonts/Avenir-Next.ttf') format('truetype');
  }

  *,
  ::before,
  ::after {
    background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
    box-sizing: inherit;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
  }

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: Avenir Next, Disket Mono;
  }

  body {
    font-size: 14px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .minimized {
    @apply h-0 w-0 border-none outline-none m-0 p-0 absolute !important;
  }

  .disabled {
    @apply opacity-50 pointer-events-none select-none cursor-default !important;
  }
}
